/* ADD NEW FONTS */

@font-face {
  font-family: TITLE;
  src: url(./assets/Fonts/Fit\ Regular.ttf);
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-size: 5rem;
  font-weight: 10;
  text-align: center;
  font-family: "TITLE";
  color: pink;
  text-shadow: black 4px 4px 4px;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITIONS */

a,
.btn {
  transition: all 0.3s ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

#desktop-nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(black);
  transition: all 0.5s ease;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background-color: rgb(29, 27, 27);
  backdrop-filter: blur(50px);
  transition: all 0.5s ease;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(234, 245, 135);
  text-decoration-color: white;
}
a:hover {
  color: pink;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: pink;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5%;
  background: var(black);
  transition: all 0.5s ease;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 4px;
  background-color: rgb(234, 245, 135);
  transition: all 0.3s ease-in-out;
  border-radius: 2px;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: rgb(234, 245, 135);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger.icon.open span:first-child {
  transform: rotate(45deg) translate (10px, 5px);
}

.hamburger.icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.icon.open span:last-child {
  transform: rotate(-45deg) translate (10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 25vh;
  height: 100vh;
  margin: 0 7.5rem;
  box-sizing: border-box;
  max-height: fit-content;
}

.section-container {
  display: flex;
}

/* HOME SECTION */

#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section-containerimg {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section-text {
  align-self: center;
  text-align: center;
}

.section-text p {
  font-weight: 10;
}

.section-p1 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 5rem;
  font-weight: 10;
  text-align: center;
  font-family: "TITLE";
  color: pink;
  text-shadow: black 4px 4px 4px;
  margin-bottom: 1rem;
}

.title:disabled {
  pointer-events: none;
}

.title:hover {
  transform: translateY(-2px);
  cursor: default;
}

#socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
/* ICONS  */

.icons {
  cursor: pointer;
  height: 3rem;
}

.icons:disabled {
  pointer-events: none;
}

.icons:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.icons:active {
  box-shadow: none;
  transform: translateY(0);
}

/* buttons */

.btn-container {
  display: flex;
  padding: auto 10rem;
  margin-top: 1rem;
  gap: 10px;
  margin-bottom: 1rem;
}
.btn-color-1 {
  appearance: none;
  background-color: pink;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn-color-1:disabled {
  pointer-events: none;
}

.btn-color-1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-color-1:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn-color-2 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: pink;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn-color-2:disabled {
  pointer-events: none;
}

.btn-color-2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-color-2:active {
  box-shadow: none;
  transform: translateY(0);
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.text-container {
    text-align: justify;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  height: 400px;
}

.icon-arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  height: 50px;
  width: fit-content;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2.5rem;
  border: black 0.2rem solid;
  text-align: center;
}

.icon {
  height: 5rem;
}

.section-container {
  gap: 3rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Experience */

#skills {
  position: relative;
}

.skills-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.skills-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 7.5rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

.checkmark {
  height: 2rem;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 1.5rem;
  height: 100px;
  width: fit-content;
}

.project-title {
  margin: 1rem;
  color: black;
}

.details-containers2 {
  padding: 1rem;
  flex: 2;
  background: white;
  border-radius: 2rem;
  border: black 0.2rem solid;
  text-align: center;
}

.about-containers2 {
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.5rem solid;
  border-color: pink;
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 3rem;
  width: fit-content;
  padding: 5px;
}

.gangstervegas {
    color: black;
}


/* FOOTER */

footer {
  margin-top: 30vh;
}

.reserved {
  background-color: rgb(0, 0, 0);
  color: rgb(234, 245, 135);
  text-align: center;
  padding: 1rem;
}
