*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    justify-content: center;
}
p{
    display: none;
    color: white;
    text-shadow: black 2px 2px 4px;
}
.pokeball{
    display:none;
    width:75px
}
.container{
    background-image: url("images.png");
    background-size: cover;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    display:flex;
    text-align:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    width: auto;
    height: auto;
    box-shadow: black 0px 5px 10px;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    margin: 1rem 1rem;
}
img{
    width:250px;
    padding:0.5rem;
}

#box1{
    background: darkgoldenrod;
}
#box2{
    background: yellow;
}
#box3{
    background: green;
}
#box4{
    background: greenyellow;
}
#box5{
    background: darkorange;
}
#box6{
    background: lightblue;
}
#box7{
    background: goldenrod;
}
#box8{
    background: rgb(219, 176, 67);
}
#box9{
    background: pink;
}
#box10{
    background: beige;
}
#box11{
    background: whitesmoke;
}
#box12{
    background: rgb(212, 158, 179);
}
@media (max-width: 1135px){
    .container{
        flex-direction:column;
    }
    .box{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    #box1:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box2:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box3:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box4:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box5:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box6:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box7:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box8:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box9:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box10:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box11:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    #box12:hover{
        background-image: url('images.jfif');
        background-size:cover;
        background-position:center;
        transition: ease-in;
        transition-duration: 0.25s;
    }
    img{
        width: 90px;
    }
    p{
        display: inline-block;
        font-size: 2rem;
    }
    .pokeball{
        display:inline-block;
    }
    
}@media (max-width: 520px){
    .container{
        flex-direction:column;
    }
    .box{
        display:block;
        text-align:center;
    }
    img{
        width: 175px;
    }
    p{
        display:block;
    }
    .pokeball{
        display: none;
    }
}
